<!DOCTYPE html>
<html>
<head>
  <title><%%= Rails.application.class.parent_name %></title>
  <%%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%%= csrf_meta_tags %>
</head>
<body>
qqqqqqqqq
=======
<%%= yield %>
=======

<%%= Rails.application.class.inspect %>
<br>
<%%= Rails.application.class.parent_name %>

</body>
</html>